.wrapper-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.line {
  height: 1px;
  width: 100%;
  background: var(--bg-45);
}

.wrapper-folder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-folder {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  font-family: 'TASA Explorer', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.button-folder.active {
  border-color: var(--green);
  color: var(--green-light);
}

.button-folder.no-active {
  border-color: transparent;
  color: var(--gray-dark);
}

.button-folder.no-active:hover svg {
  fill: var(--gray);
}

.button-folder.no-active:hover {
  color: var(--gray);
}

.folder-icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  transition: color 0.2s;
}

.button-folder.active .folder-icon {
  color: var(--green);
}

.button-folder.no-active .folder-icon {
  color: var(--gray-dark);
}

/* Sub Folder */
.wrapper-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.wrapper-box-btn {
  display: flex;
}

.sub-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: var(--s10);
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease;
  border: 1px solid;
  cursor: pointer;
  outline: none;
}

.sub-button span {
  margin-top: 2px;
}

.sub-button.no-active {
  background: var(--bg-30);
  border-color: var(--bg-60);
  color: var(--gray);
}

.sub-button.no-active:hover {
  background: var(--bg-45);
  border-color: var(--bg-80);
  color: var(--gray-light);
}

.sub-button.active {
  background: var(--bg-green);
  color: var(--green-dark);
  border-color: var(--green-dark);
}

.sub-button svg {
  flex-shrink: 0;
  fill: currentColor;
}

.wrapper-folder::-webkit-scrollbar,
.wrapper-category::-webkit-scrollbar {
  display: none;
}
